<ion-view title="Detail Laporan">
    <ion-content padding="true" class="has-header">
        <ion-list></ion-list>
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="/img/2i5bmeYShqzH21kjZ0pB_testing.jpg">
                <h2>Reza Irvanda</h2>
                <p>Saya rasa jalan ini harus segera ditambal untuk Indoensia yang lebih baik</p>
            </ion-item>
            <ion-item class="item-divider">Disini ada tombol2 upvote dll</ion-item>
        </ion-list>
    </ion-content>
</ion-view>